body {
    background-color: #521b1b;
    color: red;
    text-shadow: 0 0 15px #2dc27d;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    // for fonts
    font-family: sans-serif;
}